<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>18/05/26 18:04:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.f(java.lang.String, java.lang.String)[pri:0, instance:simpleExamples.sampletest@73ad2d6]">f</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/05/26 18:04:43</td>   <td>12553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.f(java.lang.String, java.lang.String)[pri:0, instance:simpleExamples.sampletest@73ad2d6]">f</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/05/26 18:04:54</td>   <td>23387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.f(java.lang.String, java.lang.String)[pri:0, instance:simpleExamples.sampletest@73ad2d6]">f</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/05/26 18:05:04</td>   <td>34239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.f(java.lang.String, java.lang.String)[pri:0, instance:simpleExamples.sampletest@73ad2d6]">f</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/05/26 18:05:15</td>   <td>45291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.f(java.lang.String, java.lang.String)[pri:0, instance:simpleExamples.sampletest@73ad2d6]">f</td> 
  <td>main@1465085305</td>   <td></td> </tr>
</table>
